.plan{
    display: flex;
    flex: 1;
    padding: 8px;
}
.plan>div{
    max-width: 25%;
    min-height: 200px;
    margin: 8px;
}
.plan_content{
    display: flex;
    flex:1;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    color: #7b93a4;
    box-shadow: 0 4px 8px 0 rgb(48 82 120 / 8%);
}
.plan_content_wrap{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.plan_content_wrap>h3{
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.plan_content_wrap>span{
    display: block;
}
.plan_content_wrap>span:nth-of-type(2){
    margin-top: 10px;
}
.plan_content_wrap>span:nth-of-type(3){
    font-size: 14px;
    margin-bottom: 15px;
}
.bar_bg{
    height: 32px;
    width: 100%;
    background: #e5ebee;
    border-radius: 5px;
}
.bar{
    height: inherit;
    background-color: #1acb82;
    border-radius: 5px;
    line-height: 32px;
    padding-left: 16px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.date_range{
    display: flex;
    justify-content: space-between;
}
.create_plan{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(48 82 120 / 8%);
}
.create_plan>span{
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #7b93a4;
}
.create_plan>button{
    color: white;
    height: 32px;
    border-radius: 5px;
    background-color: #1acb82;

}
