.manu_container{
    width: 100%;
    height: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e5ebee;
    box-shadow: 0 4px 8px 0 rgb(48 82 120 / 3%);
    margin-bottom: 10px;
}