.content{
    max-width: 1200px;
    /* background: #000; */
    margin: 0 auto ;
    position: relative;
}

.qb{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.qb>.qb_item:nth-child(2){
    display: flex;
}
.qb_item{
    min-width: 25%;
    /* height: 106px; */
    padding: 8px;
}
.qb_item>div:first-child{
    cursor: pointer;
}
.qb_item_con{
    /* width: 100%; */
    border-radius: 8px;
    padding: 15px 15px 14px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgb(48 82 120 / 10%);
}
.qb_item_con>img{
    margin-right: 10px;
}
.create_bank{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.create_bank>button{
    height: 42px;
    line-height: 42px;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #2dba75;
    box-shadow: 0 5px 15px 0 rgb(48 82 120 / 10%);
}
.count{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 50%;
}
.count>span{
    display: block;
}
.count>span:nth-child(2){
    font-size: 12px;
    color: #93a1aa;
}
.count>span:nth-child(3){
    font-size: 24px;
}
.datepicker{
    padding: 30px 0 ;

}
.datepicker_wrap{
    padding-left:10px;
    display: flex;
    flex: content;
    justify-content: space-between;
    position: relative;
}
.button_warp{
    flex: 1;
}
.datepicker button{
    padding: 0 15px;
    border-radius: 5px;
    background-color: #12c48b;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 42px;
}
.datepicker button:hover{
    transition: all .3s;
    box-shadow: 0 5px 15px 0 rgb(48 82 120 / 30%);
}
.handel_way{
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.handel_way>span{
    background-color: #ffffff;
    padding: 9px 15px;
    letter-spacing: 3px;
}
.dateselect{
    padding: 0 10px;
    width: 50%;
}
.dateselect>input{
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
}
.deal_npanel{
    /* display: none; */
    position: absolute;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: .5s;
}
.hideen{
    visibility: hidden;
}
.deal_panel{
    position: absolute;
    display: block;
    top: 50px;
    border-radius: 8px;
    width: 100%;
    background-color: white;
    z-index: 200;
    transition: .5s;
}
.panel_con{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.first_line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input_info{
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 17%;
}
.input_info>span{
    color: #9a9a9a;
    font-size: 14px;
}
.input_info>input,select{
    height: 36px;
    border: 1px solid #c8c8c8;
    padding: 0 10px;
}
.second_line{
    padding: 0 4px ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.repeat{
    display: flex;
    align-items: flex-end;
}
.repeat .input_info{
    width: 100%;
    padding: 0 10px;
}
.repeat button{
    width: 150px;
    color: #7b93a4;
    background: #e5ebee;
    height: 38px;
    box-shadow: none;
}
.panel_nbg{
    visibility: hidden;
}
.panel_bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: .6;
}
.gl{
    position: relative;
}
.gl_items{
    display: flex;
}
.gl_item_wrap{
    width: 25%;
    padding: 0 10px;
}
.gl_item{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
.gl_item h4{
    font-size: 16px;
    font-weight: 600;
}
.gl_item span{
    /* color: #2dba75; */
    font-size: 24px;
}
