.content{
    max-width: 1200px;
    /* background: #000; */
    margin: 0 auto ;
}
.qb{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.qb_item{
    width: 25%;
    height: 106px;
    padding: 10px;
}
.qb_item_con{
    width: 100%;
    height: 95%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}
.datepicker{
    padding: 30px 0 ;
    display: flex;
    flex: content;
    justify-content: flex-end;
}
.datepicker div:first-child{
    padding-right: 20px;
}
.gl_items{
    display: flex;
}
.gl_item{
    width: 25%;
    background-color: white;
    /* height: ; */
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
}
.gl_item span{
    color: #2dba75;
    font-size: 24px;
}