.content{
    max-width: 1200px;
    /* background: #000; */
    margin: 0 auto ;
}
.qb{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.qb_item{
    width: 25%;
    height: 106px;
    padding: 10px;
}
.qb_item_con{
    width: 100%;
    height: 95%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}